body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


/*.navbar-brand {
  padding-top: 25px;
}*/

.navbar-brand h1 { 
  font-family: serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
	text-align: center;
}

h3 {
	margin-top:10px;
}

.menu-detail {
	background-color: #132ae1;
	padding: 10px;
	margin:  0 30px 50px 30px;
}

